useDynLib(rblock)
importFrom(Rcpp, evalCpp)
export(resetGraph, resetModel,
       deleteGraph, deleteModel,
       loadGraph, printGraph,
       loadMetaData, runDCSBM,
       print, fitParams,
       getVertexKProbs)
